<h1>Entries#index</h1>
<p>Find me in app/views/entries/index.html.erb</p>

<%= link_to "New Entry", "/entries/new" %>

<% if @entries.empty? %>

	<ul class="entries">
	<% @entries.each do |entry| %>
		<li><%= entry.title %></li>
	<% end %>	
	</ul>

<% else %>

	No Entries.

<% end %>	