<ul class="comments">
	<%= render @entry.comments %>
	<%#= render :partial => 'comment', :collection => @entry.comments %>
</ul>

<% form_for [@entry, Comment.new], :remote => true do |f| %>
	<div>
		<%= f.text_area :body, :rows => 3 %>
	</div>	
	<%= f.submit %>
<% end %>


<script type="text/javascript" charset="utf-8">

$('.delete').live('ajax:success', function() {
	$(this).closest('li').fadeOut();
});

// $('.delete').click(function() {
// 	var $this = $(this);
// 	$.ajax({
// 		url: $this.attr('href'),
// 		type: 'DELETE',
// 		success: function() {
// 			// alert('delete!');
// 			$this.closest('li').fadeOut();
// 		}
// 	});
// 	return false;
// });
	
</script>