<ul>
	<% @entry.comments.each do |c| %>
	<li><%= c.body %> <%= time_ago_in_words(c.created_at) %></li>
	<% end %>
</ul>

<% form_for [@entry, Comment.new] do |f| %>
	<div>
		<%= f.text_area :body, :rows => 3 %>
	</div>	
	<%= f.submit %>
<% end %>

