<h1>Main Page</h1>
<p>Find me in app/views/home/index.html.erb</p>

<ul class="thumbnails">
	<% @entries.each do |entry| %>
	<li class="span3">
		<%= link_to(image_tag(entry.photo.url), entry) if entry.photo? %>
	</li>	
	<% end %>
</ul>

<%= paginate @entries %>

