<h1>Main Page</h1>
<p>Find me in app/views/home/index.html.erb</p>

<ul id="recent_entries" class="thumbnails">
</ul>

<%= paginate @entries %>

<!-- <h3>Widget</h3>
<script type="text/javascript" src="/entries.js"></script> -->

<script type="text/javascript" charset="utf-8">

$.get('/entries.js', function(data) {
	// $('#recent_entries').append(data);
});
	
</script>



